body {
    background-color: lavender;
    font-family: monospace;
}



header {
    grid-column-start: 2;
    grid-column-end: five;
    grid-template-rows: 1;
    width: 75%;
    background-color: skyblue;
}

header h1 {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

#studio-logo {
    text-align: left;
    height: 100px;
}

